# .NET
**/bin/
**/obj/
**/*.user

# Node / React Native
**/node_modules/
**/.expo/
**/.bundle/
**/android/build/
**/android/app/build/
**/android/.gradle/
**/android/local.properties
**/android/app/**/Debug
# iOS
**/ios/Pods/
**/ios/build/
**/ios/*.xcworkspace/xcuserdata/

# Generales
**/*.log
**/.env
**/.vscode/
**/.idea/
**/*.DS_Store