# .NET
**/bin/
**/obj/
**/*.user

# Node / React Native
**/node_modules/
**/.expo/
**/.bundle/
**/android/build/
**/android/app/build/
**/android/.gradle/
**/android/local.properties  

# iOS — dependencias y build
**/ios/Pods/
**/ios/build/
**/ios/*.xcworkspace/xcuserdata/

# React Native general
**/node_modules/
**/*.log
**/.env

# Generales
**/.vscode/
**/.idea/
**/*.DS_Store